@tailwind base;
@tailwind components;
@tailwind utilities;
@import "react-quill/dist/quill.snow.css";

@font-face {
  font-family: "Pretendard";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
body {
  font-family: "Pretendard", sans-serif;
  font-weight: 400;
}
body *:not([class*="letter-"]) {
  letter-spacing: var(--tw-letter-spacing-tight-korean, -0.025em);
}
@layer utilities {
  .MainLinkButton {
    @apply px-3 py-4 border-b-2 border-transparent transition-all duration-300 ease-in-out hover:border-b-gray-800;
  }
  .MainLinkButtonActive {
    @apply border-b-2 border-gray-800;
  }
  .auth-input-short {
    @apply w-[232px] h-11 p-4 mb-3 border rounded-md;
  }
  .auth-input {
    @apply w-80 h-11 p-4 mb-3 border rounded-md;
  }
  .text-shadow {
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  }
  .line-shadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .ChatInputPlaceholder::placeholder {
    color: var(--Gray-600, #767676);
    font-family: Pretendard, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-left: 3px;
  }
}

@layer base {
  .knowhow-content h1 {
    @apply text-2xl font-bold mt-4 mb-2;
  }

  .knowhow-content h2 {
    @apply text-xl font-bold mt-4 mb-2;
  }

  .knowhow-content h3 {
    @apply text-lg font-bold mt-4 mb-2;
  }

  .knowhow-content h4 {
    @apply text-base font-bold mt-4 mb-2;
  }

  .knowhow-content h5 {
    @apply text-sm font-bold mt-4 mb-2;
  }

  .knowhow-content ol,
  .knowhow-content ul {
    @apply list-disc pl-6;
  }

  .knowhow-content li {
    @apply mb-2;
  }

  .knowhow-content .ql-indent-1 {
    @apply pl-4;
  }

  .knowhow-content .ql-indent-2 {
    @apply pl-8;
  }

  .knowhow-content .ql-indent-3 {
    @apply pl-12;
  }

  .knowhow-content .ql-indent-4 {
    @apply pl-16;
  }

  .knowhow-content .ql-indent-5 {
    @apply pl-20;
  }

  .knowhow-content .ql-indent-6 {
    @apply pl-24;
  }

  .knowhow-content .ql-indent-7 {
    @apply pl-28;
  }

  .knowhow-content .ql-indent-8 {
    @apply pl-32;
  }

  /* .quill_wrapper .ql-editor.ql-blank {
    @apply border border-gray-900;
  }

  .quill_wrapper .ql-toolbar.ql-snow {
    @apply border-t border-x border-x-gray-900 border-t-gray-900;
  } */
}
