@tailwind base;
@tailwind components;
@tailwind utilities;
@import "react-quill/dist/quill.snow.css";

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/subset-Pretendard-Regular.woff2") format("woff2"),
  url("/fonts/subset-Pretendard-Regular.woff") format("woff"),
  url("/fonts/subset-Pretendard-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("/fonts/subset-Pretendard-light.woff2") format("woff2"),
  url("/fonts/subset-Pretendard-light.woff") format("woff"),
  url("/fonts/subset-Pretendard-light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("/fonts/subset-Pretendard-SemiBold.woff2") format("woff2"),
  url("/fonts/subset-Pretendard-SemiBold.woff") format("woff"),
  url("/fonts/subset-Pretendard-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("/fonts/subset-Pretendard-Bold.woff2") format("woff2"),
  url("/fonts/subset-Pretendard-Bold.woff") format("woff"),
  url("/fonts/subset-Pretendard-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("/fonts/subset-Pretendard-ExtraBold.woff2") format("woff2"),
  url("/fonts/subset-Pretendard-ExtraBold.woff") format("woff"),
  url("/fonts/subset-Pretendard-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
}

body {
  font-family: "Pretendard", sans-serif;
}

body *:not([class*="letter-"]) {
  letter-spacing: var(--tw-letter-spacing-tight-korean, -0.025em);
}
.mySwiper .swiper-pagination-bullet {
  width: 7px;
  height: 7px;
  background-color: black;
  border-radius: 50%;
  transition: all 0.3s ease;
  opacity: 0.5;
}

.mySwiper .swiper-pagination-bullet-active {
  width: 25px;
  height: 7px;
  background-color: white;
  border-radius: 5px;
  transition: all 0.3s ease;
  opacity: 1;
}

.mySwiper .swiper-pagination {
  bottom: 15px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
}
.custom-box-shadow {
  @apply border border-gray-300;
  box-shadow:
    39px 17px 12px rgba(128, 128, 128, 0),
    25px 11px 11px rgba(128, 128, 128, 0.01),
    14px 6px 9px rgba(128, 128, 128, 0.05),
    6px 3px 7px rgba(128, 128, 128, 0.09),
    2px 1px 4px rgba(128, 128, 128, 0.1);
}

@layer utilities {
  .mainLinkButton {
    @apply px-3 py-4 border-b-2 border-transparent transition-all duration-300 ease-in-out hover:border-b-gray-800;
  }
  .mainLinkButtonActive {
    @apply border-b-2 border-gray-800;
  }
  .auth-input-short {
    @apply w-[232px] h-11 p-4 mb-3 border rounded-md;
  }
  .auth-input {
    @apply w-80 h-11 p-4 mt-2 mb-1 border border-gray-400 rounded-md;
  }
  .text-shadow {
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  }
  .line-shadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .chatInputPlaceholder::placeholder {
    color: var(--Gray-600, #767676);
    font-family: Pretendard, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-left: 3px;
  }
  .filter-orange {
  filter: brightness(0) saturate(100%) invert(41%) sepia(90%) saturate(7450%) hue-rotate(345deg) brightness(92%) contrast(105%);
  }
}

@layer base {
  .knowhow-content h1 {
    @apply text-2xl font-bold mt-4 mb-2;
  }

  .knowhow-content h2 {
    @apply text-xl font-bold mt-4 mb-2;
  }

  .knowhow-content h3 {
    @apply text-lg font-bold mt-4 mb-2;
  }

  .knowhow-content h4 {
    @apply text-base font-bold mt-4 mb-2;
  }

  .knowhow-content h5 {
    @apply text-sm font-bold mt-4 mb-2;
  }

  .knowhow-content ol,
  .knowhow-content ul {
    @apply list-disc pl-6;
  }

  .knowhow-content li {
    @apply mb-2;
  }

  .knowhow-content .ql-indent-1 {
    @apply pl-4;
  }

  .knowhow-content .ql-indent-2 {
    @apply pl-8;
  }

  .knowhow-content .ql-indent-3 {
    @apply pl-12;
  }

  .knowhow-content .ql-indent-4 {
    @apply pl-16;
  }

  .knowhow-content .ql-indent-5 {
    @apply pl-20;
  }

  .knowhow-content .ql-indent-6 {
    @apply pl-24;
  }

  .knowhow-content .ql-indent-7 {
    @apply pl-28;
  }

  .knowhow-content .ql-indent-8 {
    @apply pl-32;
  }

  /* .quill_wrapper .ql-editor.ql-blank {
    @apply border border-gray-900;
  }

  .quill_wrapper .ql-toolbar.ql-snow {
    @apply border-t border-x border-x-gray-900 border-t-gray-900;
  } */
}
